In [26]:
import pandas as pd

In [47]:
def extract_data(url):
    df = pd.read_csv(url)
    return df
#function to extract data for various df
url1 = "https://api.iea.org/evs?parameters=EVsales&category=Historical&mode=Cars&csv=true"
ev_sales_df= extract_data(url1)

url2= "https://api.iea.org/evs?parameters=EVchargingpoints&category=Historical&mode=EV&csv=true"
ev_charging_points_df = extract_data(url2)

In [28]:
ev_sales_df.head()

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV sales share,Cars,EV,2011,percent,0.00650
1,Australia,Historical,EV stock share,Cars,EV,2011,percent,0.00039
2,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,49.00000
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,49.00000
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,220.00000

In [29]:
ev_charging_points_df.head()

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV charging points,EV,Publicly available fast,2017,charging points,40.0
1,Australia,Historical,EV charging points,EV,Publicly available slow,2017,charging points,440.0
2,Australia,Historical,EV charging points,EV,Publicly available fast,2018,charging points,61.0
3,Australia,Historical,EV charging points,EV,Publicly available slow,2018,charging points,670.0
4,Australia,Historical,EV charging points,EV,Publicly available slow,2019,charging points,1700.0

In [46]:
#loop to look unique for every column
for col in ev_sales_df.columns:
    print(col)
    print (ev_sales_df[col].unique())
    print("")

region
['Australia' 'Austria' 'Belgium' 'Brazil' 'Bulgaria' 'Canada' 'Chile'
 'China' 'Colombia' 'Costa Rica' 'Croatia' 'Cyprus' 'Czech Republic'
 'Denmark' 'Estonia' 'EU27' 'Europe' 'Finland' 'France' 'Germany' 'Greece'
 'Hungary' 'Iceland' 'India' 'Ireland' 'Israel' 'Italy' 'Japan' 'Korea'
 'Latvia' 'Lithuania' 'Luxembourg' 'Mexico' 'Netherlands' 'New Zealand'
 'Norway' 'Poland' 'Portugal' 'Rest of the world' 'Romania' 'Seychelles'
 'Slovakia' 'Slovenia' 'South Africa' 'Spain' 'Sweden' 'Switzerland'
 'Turkiye' 'United Arab Emirates' 'United Kingdom' 'USA' 'World']

powertrain
['BEV' 'PHEV' 'FCEV']

year
[2011 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021 2022 2023 2010]

unit
['Vehicles']

value
[4.90000000e+01 1.70000000e+02 8.00000000e+01 1.00000000e+02
 1.90000000e+02 3.70000000e+02 9.50000000e+02 1.00000000e+03
 7.60000000e+02 6.70000000e+02 7.00000000e+02 1.10000000e+03
 1.20000000e+03 1.80000000e+03 2.90000000e+03 6.30000000e+03
 5.20000000e+03 1.70000000e+03 3.40000000e+03 1.70000000e+04
 4.40000000e+01 1.50000000e+01 3.30000000e+04 5.90000000e+03
 1.10000000e+04 8.70000000e+04 6.00000000e+00 6.50000000e+02
 4.00000000e+00 3.80000000e+03 2.00000000e+00 5.40000000e+03
 6.80000000e+03 2.30000000e+03 7.00000000e+00 2.20000000e+03
 1.90000000e+01 9.30000000e+03 1.60000000e+04 1.40000000e+01
 7.60000000e+03 1.50000000e+04 3.40000000e+04 1.30000000e+04
 9.00000000e+00 4.80000000e+04 4.80000000e+01 8.00000000e+00
 1.60000000e+01 2.80000000e+02 5.70000000e+02 3.40000000e+02
 6.00000000e+01 5.00000000e+02 1.30000000e+03 2.50000000e+03
 1.40000000e+03 2.10000000e+03 7.10000000e+03 1.20000000e+04
 1.10000000e+01 2.70000000e+03 3.60000000e+03 1.30000000e+01
 9.60000000e+03 8.90000000e+03 1.20000000e+01 8.80000000e+03
 3.20000000e+04 2.10000000e+01 2.30000000e+04 3.80000000e+04
 2.00000000e+01 5.90000000e+04 1.00000000e+05 9.30000000e+04
 1.00000000e+01 2.20000000e+01 1.80000000e+01 3.30000000e+01
 3.90000000e+01 6.10000000e+01 2.80000000e+01 4.70000000e+01
 1.30000000e+02 1.40000000e+02 2.90000000e+02 2.30000000e+02
 1.80000000e+02 5.40000000e+02 8.00000000e+02 1.00000000e+00
 1.00000000e+04 8.50000000e+03 1.90000000e+04 5.00000000e+00
 3.80000000e+01 6.80000000e+01 2.60000000e+01 5.60000000e+01
 4.10000000e+01 1.20000000e+02 4.30000000e+02 3.60000000e+02
 2.20000000e+02 3.00000000e+02 6.20000000e+02 1.60000000e+03
 1.50000000e+03 2.80000000e+03 4.40000000e+03 2.40000000e+03
 6.40000000e+03 8.70000000e+03 8.00000000e+03 2.10000000e+04
 7.90000000e+01 1.40000000e+04 3.70000000e+04 2.80000000e+04
 2.40000000e+04 9.10000000e+04 1.30000000e+05 4.10000000e+04
 3.00000000e+00 2.30000000e+01 1.60000000e+02 1.10000000e+02
 2.70000000e+02 8.80000000e+02 5.10000000e+02 4.10000000e+02
 4.80000000e+03 3.20000000e+02 2.60000000e+02 7.30000000e+02
 4.90000000e+04 1.50000000e+05 6.10000000e+04 7.90000000e+04
 2.60000000e+05 1.10000000e+05 4.70000000e+05 8.20000000e+05
 2.70000000e+05 2.30000000e+05 8.30000000e+05 9.20000000e+05
 2.20000000e+05 5.50000000e+05 2.70000000e+06 2.40000000e+02
 4.40000000e+06 1.50000000e+06 5.40000000e+06 5.20000000e+02
 2.50000000e+01 9.20000000e+01 2.50000000e+02 4.50000000e+02
 8.70000000e+02 4.80000000e+02 4.70000000e+02 8.40000000e+02
 1.90000000e+03 2.00000000e+02 4.60000000e+02 6.30000000e+02
 4.90000000e+03 6.70000000e+01 5.30000000e+02 4.00000000e+02
 9.90000000e+02 4.20000000e+01 8.30000000e+01 9.80000000e+01
 8.40000000e+01 7.90000000e+02 3.90000000e+02 3.30000000e+03
 2.00000000e+03 3.70000000e+03 3.90000000e+03 5.30000000e+03
 6.70000000e+03 4.20000000e+02 4.90000000e+02 9.00000000e+01
 4.30000000e+03 7.10000000e+02 3.10000000e+03 5.50000000e+03
 4.50000000e+01 1.80000000e+04 4.00000000e+04 7.80000000e+01
 2.50000000e+04 3.10000000e+04 2.60000000e+04 6.30000000e+04
 3.40000000e+01 3.50000000e+01 8.50000000e+01 1.70000000e+01
 7.50000000e+01 5.60000000e+02 9.10000000e+01 2.90000000e+01
 7.50000000e+03 7.00000000e+04 6.50000000e+04 5.40000000e+04
 8.50000000e+04 8.90000000e+04 1.40000000e+05 2.50000000e+05
 6.60000000e+02 5.40000000e+05 5.10000000e+05 8.80000000e+05
 8.90000000e+05 8.60000000e+02 1.20000000e+06 9.00000000e+05
 8.50000000e+05 1.60000000e+06 7.70000000e+02 2.70000000e+01
 9.20000000e+03 6.20000000e+04 3.20000000e+01 1.20000000e+05
 1.60000000e+05 2.10000000e+05 1.90000000e+05 6.10000000e+02
 3.70000000e+05 7.60000000e+05 7.40000000e+02 6.40000000e+05
 1.10000000e+06 9.60000000e+02 8.20000000e+02 2.20000000e+06
 3.00000000e+01 5.10000000e+01 5.00000000e+01 2.60000000e+03
 7.80000000e+02 6.00000000e+03 4.20000000e+03 2.00000000e+04
 3.00000000e+04 8.20000000e+01 5.70000000e+03 8.50000000e+02
 5.80000000e+03 4.60000000e+01 4.50000000e+04 7.50000000e+04
 2.10000000e+02 1.70000000e+05 3.10000000e+02 3.10000000e+05
 9.10000000e+03 6.30000000e+01 2.90000000e+04 3.60000000e+04
 2.00000000e+05 3.30000000e+05 3.60000000e+05 1.80000000e+05
 5.20000000e+05 8.80000000e+01 6.80000000e+02 7.00000000e+03
 4.40000000e+02 7.50000000e+02 3.00000000e+03 4.70000000e+03
 3.80000000e+02 6.90000000e+03 5.10000000e+03 9.20000000e+02
 4.30000000e+01 8.20000000e+04 3.30000000e+02 4.00000000e+03
 8.60000000e+03 7.90000000e+03 7.70000000e+03 6.00000000e+02
 5.20000000e+01 6.50000000e+01 2.70000000e+04 4.00000000e+01
 5.00000000e+03 6.50000000e+03 6.70000000e+04 7.10000000e+04
 6.60000000e+04 9.40000000e+03 2.20000000e+04 8.80000000e+04
 5.20000000e+04 5.80000000e+01 9.10000000e+02 5.50000000e+04
 7.20000000e+04 7.30000000e+01 8.60000000e+01 3.70000000e+01
 6.40000000e+01 4.60000000e+03 9.70000000e+02 3.50000000e+03
 2.20000005e+00 3.90000000e+04 7.60000000e+04 8.70000000e+01
 5.00000000e+04 8.00000000e+04 4.60000000e+04 6.00000000e+04
 7.70000000e+04 3.10000000e+01 1.50000000e+02 7.00000000e+01
 6.40000000e+02 4.50000000e+03 7.20000000e+03 5.40000000e+01
 7.80000000e+03 9.00000000e+02 3.20000000e+03 2.40000000e+01
 7.40000000e+01 5.90000000e+01 5.90000000e+02 6.60000000e+01
 7.20000000e+01 8.10000000e+02 7.60000000e+01 5.60000000e+03
 7.40000000e+03 4.30000000e+04 5.70000000e+04 7.80000000e+04
 9.60000000e+04 5.30000000e+04 7.70000000e+01 9.40000000e+01
 8.90000000e+02 3.50000000e+04 3.60000000e+01 5.70000000e+01
 6.80000000e+04 9.80000000e+03 5.50000000e+01 7.30000000e+04
 9.40000000e+04 2.40000000e+05 6.40000000e+04 8.00000000e+05
 2.90000000e+05 9.00000000e+03 4.20000000e+05 6.60000000e+05
 1.40000000e+06 5.80000000e+05 9.80000000e+05 2.00000000e+06
 4.70000000e+06 1.90000000e+06 2.90000000e+06 7.30000000e+06
 9.50000000e+06 4.30000000e+06]

In [38]:
ev_sales_df= ev_sales_df[ev_sales_df["parameter"]== "EV sales"]
ev_sales_df.head()

       region    category parameter  mode powertrain  year      unit  value
2   Australia  Historical  EV sales  Cars        BEV  2011  Vehicles   49.0
5   Australia  Historical  EV sales  Cars        BEV  2012  Vehicles  170.0
9   Australia  Historical  EV sales  Cars       PHEV  2012  Vehicles   80.0
10  Australia  Historical  EV sales  Cars       PHEV  2013  Vehicles  100.0
14  Australia  Historical  EV sales  Cars        BEV  2013  Vehicles  190.0

In [41]:
cols_to_drop = ["mode","category","parameter"]

In [43]:
ev_sales_df = ev_sales_df.drop(columns = cols_to_drop)
ev_sales_df.head()

       region powertrain  year      unit  value
2   Australia        BEV  2011  Vehicles   49.0
5   Australia        BEV  2012  Vehicles  170.0
9   Australia       PHEV  2012  Vehicles   80.0
10  Australia       PHEV  2013  Vehicles  100.0
14  Australia        BEV  2013  Vehicles  190.0

In [48]:
def load_data(ev_sales_df):
    df = pd.read_csv(url)
    ev_sales_df= ev_sales_df[ev_sales_df["parameter"]== "EV sales"]
    cols_to_drop = ["mode","category","parameter"]
    ev_sales_df = ev_sales_df.drop(columns = cols_to_drop)

    return ev_sales_df

In [49]:
load_data(ev_sales_df)

         region powertrain  year      unit      value
2     Australia        BEV  2011  Vehicles       49.0
5     Australia        BEV  2012  Vehicles      170.0
9     Australia       PHEV  2012  Vehicles       80.0
10    Australia       PHEV  2013  Vehicles      100.0
14    Australia        BEV  2013  Vehicles      190.0
...         ...        ...   ...       ...        ...
3779      World        BEV  2022  Vehicles  7300000.0
3781      World       FCEV  2022  Vehicles    15000.0
3792      World       FCEV  2023  Vehicles     8900.0
3794      World        BEV  2023  Vehicles  9500000.0
3796      World       PHEV  2023  Vehicles  4300000.0

[1342 rows x 5 columns]